@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400&family=Poppins:wght@600;700&display=swap&family=Fira+Code:wght@400');
@import 'tailwindcss';

@theme {
  --font-heading: Poppins, 'sans-serif';
  --font-body: Mulish, 'sans-serif';
  --font-code: Fira Code, 'sans-serif';

  --color-bg-primary: #f8f9ff;
  --color-bg-secondary: #2d2d2d;
  --color-accent: #f8d57e;
  --color-cta-primary: #009379;
  --color-cta-secondary: #c0dad6;
  --color-cta-hover: #00bfa1;

  --animate-text-change: colorChange 4s infinite alternate;

  @keyframes colorChange {
    0% {
      color: #2d2d2d;
    }
    100% {
      color: #009379;
    }
  }
}

@layer base {
  body {
    @apply flex flex-col min-h-screen font-body bg-bg-primary text-bg-secondary;
    font-size: 21px;
  }
  header {
    @apply sticky top-0 left-0 w-full flex justify-between p-4 bg-accent;
  }
  footer {
    @apply flex justify-between mt-auto p-4 bg-bg-secondary text-white;
  }
  section {
    @apply flex flex-col gap-4 p-8 text-center items-center;
  }
  h1 {
    @apply pt-2 font-heading text-2xl;
  }
  h2 {
    @apply font-heading text-4xl;
  }
  h3 {
    @apply font-heading text-2xl;
  }
  nav {
    @apply flex gap-4;
  }
  .btn-primary {
    @apply px-4 py-2 bg-cta-primary text-white rounded-lg hover:bg-cta-hover transition hover:cursor-pointer;
  }
  .btn-disabled {
    @apply px-4 py-2 bg-cta-secondary text-cta-primary rounded-lg hover:cursor-not-allowed;
  }
  .language-switcher {
    @apply border p-2 border-cta-primary bg-cta-secondary text-cta-primary rounded-md;
  }
  code {
    @apply font-code bg-white px-3 rounded;
  }
}
